<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
  <div class="mb-4 flex justify-between">
    <div class="inline-block">
      <h3 class="font-semibold text-gray-900 dark:text-white">DOM Dashboard</h3>
      <div class="space-x-1 text-xs font-medium text-gray-400 dark:text-night-300">
        <a href="" class="hover:text-primary-500">Dashboards</a>
        <span> - Dragons</span>
      </div>
    </div>
    <div class="inline-block space-x-4">
      <button
        routerLink="/territory/ViewTerritory"
        class="flex-none rounded-md bg-primary-500 px-4 py-2.5 text-xs font-semibold text-white hover:bg-primary-600">
        Territories
      </button>
    </div>
  </div>
  <!-- Table Starts Here -->
  <p-table [columns]="cols" [value]="battles" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
