<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
    <div class="mb-4 flex justify-between">
        <div class="inline-block">
            <h3 class="font-semibold text-gray-900 dark:text-white">DOM Dashboard</h3>
            <div class="space-x-1 text-xs font-medium text-gray-400 dark:text-night-300">
                <a href="" class="hover:text-primary-500">Dashboards</a>
                <span> - Dragons</span>
            </div>
        </div>
        <div class="inline-block space-x-4">
            <button routerLink="/dragons/CreateDragons"
                class="flex-none rounded-md bg-white px-4 py-2.5 text-xs font-semibold text-gray-500 hover:text-primary-500 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500">
                Add Dragon
            </button>

            <button routerLink="/territory/ViewTerritory"
                class="flex-none rounded-md bg-primary-500 px-4 py-2.5 text-xs font-semibold text-white hover:bg-primary-600">
                Territories
            </button>
        </div>
    </div>

    <div>
        <div class="container px-10">
            <div class="mt-10 flex items-center justify-between px-1 py-3">
                <h1 class="font-bold md:text-base lg:text-lg lg:font-extrabold">Dragons</h1>
                <!-- <h1 class="bg-primary bg-opacity-40  text-primary lg:px-7 capitalize lg:py-2 bg-slate-600 sm:px-6 sm:py-1.5 px-3 py-1 sm:text-base text-sm lg:text-lg rounded-3xl cursor-pointer"
                    routerLink="/dashboard/blog/AddBlog">
                    Add new
                </h1> -->
            </div>

            <div class="relative mt-10 overflow-x-auto rounded-lg shadow-md">
                <table class="w-full text-left text-sm text-gray-500">
                    <thead class="bg-grey text-xs uppercase text-gray-700">
                        <tr>
                            <th scope="col" class="py-6 px-6">Id</th>
                            <th scope="col" class="py-6 px-6">Title</th>
                            <th scope="col" class="py-6 px-6">Category/Type</th>
                            <th scope="col" class="py-6 px-6">Map Piece</th>
                            <th scope="col" class="py-6 px-6">Dragon Class</th>
                            <th scope="col" class="py-6 px-6">Attack</th>
                            <th scope="col" class="py-6 px-6">Defense</th>
                            <th scope="col" class="py-6 px-6">Health</th>
                            <th scope="col" class="py-6 px-6">Image</th>
                            <th scope="col" class="py-6 px-6">TerritoryId</th>

                            <th scope="col" class="py-6 px-6">Delete</th>
                            <th scope="col" class="py-6 px-6">Edit</th>
                        </tr>
                    </thead>
                    <ng-container *ngIf="DragonClass">
                        <tbody>
                            <tr class="border-grey border-b bg-white" *ngFor="let item of DragonClass; let i = index">
                                <th scope="row" class="whitespace-nowrap py-4 px-6 font-medium text-gray-900">
                                    {{ item.id }}
                                </th>
                                <td class="py-4 px-6">
                                    <a routerLink="ShowBlog" [routerLink]="['/ShowBlog', item.id]"> {{ item.name }}</a>
                                </td>
                                <td class="py-4 px-6">
                                    <a routerLink="ShowBlog" [routerLink]="['/ShowBlog', item.id]"> {{ item.type }}</a>
                                </td>
                                <td class="py-4 px-6">
                                    <a routerLink="ShowBlog" [routerLink]="['/ShowBlog', item.id]"> {{ item.mapPiece
                                        }}</a>
                                </td>
                                <td class="py-4 px-6">
                                    <a routerLink="ShowBlog" [routerLink]="['/ShowBlog', item.id]"> {{ item.class }}</a>
                                </td>
                                <td class="py-4 px-6">
                                    <a routerLink="ShowBlog" [routerLink]="['/ShowBlog', item.id]"> {{ item.attack
                                        }}</a>
                                </td>
                                <td class="py-4 px-6">
                                    <a routerLink="ShowBlog" [routerLink]="['/ShowBlog', item.id]"> {{ item.defense
                                        }}</a>
                                </td>
                                <td class="py-4 px-6">
                                    <a routerLink="ShowBlog" [routerLink]="['/ShowBlog', item.id]"> {{ item.health
                                        }}</a>
                                </td>

                                <td class="Custom-div py-4 px-6">
                                    <div>
                                        <img class="custmImage-class" src="{{ item.imageUrl }}" alt="" />
                                    </div>
                                    <!-- <a routerLink="ShowBlog" [routerLink]="['/ShowBlog', item.id]">
                                            {{item.imageUrl}}</a> -->
                                </td>

                                <td class="py-4 px-6">
                                    <a routerLink="ShowBlog" [routerLink]="['/ShowBlog', item.id]"> {{ item.TerritoryId
                                        }}</a>
                                </td>

                                <td class="py-4 px-6">
                                    <svg xmlns="http://www.w3.org/2000/svg" (click)="deleteBlog(item.id)" fill="none"
                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                        class="text-red h-6 w-6 cursor-pointer">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                    </svg>
                                </td>

                                <td>
                                    <a routerLink="AddBlog" class="text-primary px-6 py-4 text-center font-medium"
                                        [routerLink]="['/dragons/CreateDragons', item.id]">Edit</a>
                                </td>
                            </tr>
                        </tbody>
                    </ng-container>
                </table>
            </div>
        </div>
    </div>
</div>